<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title">{{title}}</h4>
    </div>
    <div class="page-rightheader ms-md-auto">
        <div class=" btn-list">
            <button  class="btn btn-light" placement="top" ngbTooltip="E-mail"> <i class="feather feather-mail"></i> </button>
            <button  class="btn btn-light" placement="top" ngbTooltip="Contact"> <i class="feather feather-phone-call"></i> </button>
            <button  class="btn btn-primary" placement="top" ngbTooltip="Info"> <i class="feather feather-info"></i> </button>
        </div>
    </div>
</div>
<!--End Page header-->